// Mixins in here
.buttonmixin(@bgcolor: teal, @fcolor: white){
    width: 90%;
    height: 50px;
    border-radius: 15px;
    background:@bgcolor;
    color:@fcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    a {
        text-decoration: none;
        color:@fcolor;
        background: @bgcolor;
    }
    &:hover {
        background:@fcolor;
        color:@bgcolor;
        a:hover {
            background:@fcolor;
            color:@bgcolor;
            }
        }
    }
.mobilecontentshellmixin (@direct, @wrap) {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: @direct;
    flex-wrap: @wrap;
    justify-content: center;
    align-items: center;
}
.mobilecontentmixin (@justify:center, @align:center) {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: @justify;
        align-items: @align;
    }