// Mixins in here
.buttonmixin(@bgcolor: teal, @fcolor: white){
    width: 90%;
    height: 50px;
    border-radius: 15px;
    background:@bgcolor;
    color:@fcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    a {
        text-decoration: none;
        color:@fcolor;
        background: @bgcolor;
    }
    &:hover {
        background:@fcolor;
        color:@bgcolor;
        a:hover {
            background:@fcolor;
            color:@bgcolor;
            }
        }
    }
